/* navigation 변경 */
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    color: #fff;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
    border-radius: 100%;
}
/* 공통섹션 스타일 */
.title{
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.inner{
    width: 1800px;
    height: 800px;
    margin: 0 auto;
    /* background: #0F172A; */
    /* background: gold; */
}
/* 슬라이드 영역 분리 */
#section1 {
    background: #0F172A;
}

#section2 {
    background: #0F172A;
}

#section3 {
    background: #0F172A;
}

#section4 {
    background: #0F172A;
}

#section5 {
    background: #0F172A;
}

#section6 {
    background: #0F172A;
}

/* header 영역 */
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    /* background: #0F172A; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #0F172A;
}
header h1{
    /* color: #fff; */
    width: 250px;
    height: 100px;
    text-indent: -99999px;
    background: url(https://mirimyeum.github.io/portfolios/mry.designs/images2/mylogo.png) no-repeat;
}
header h1 a{
    display: block;
    width: 100%;
    height: 100%;
}
header .nav_wrap{
    display: flex;
    align-items: center;
    gap: 50px;
}
/* // 메뉴버튼의 .gnb가 안보였다가 */
header .nav_wrap .gnb{
    width: 100%;
    height: 100%;
    transform: translateX(300px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
/* // 메뉴버튼을 클릭시 .gnb가 나타나게 */
header.on .nav_wrap .gnb{
    transform: translateX(0);
    opacity: 1;
}
header .gnb ul{
    display: flex;
    gap: 50px;
}
header .nav_wrap .gnb ul li a{
    color: rgba(255,255,255,0.6)
}
/* 햄버거 버튼 */
.m_btn{
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.m_btn span{
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
}
.m_btn span:nth-child(1){
    top: 0;
    transition: all 0.5s ease-in-out;
}
.m_btn span:nth-child(2){
    top: 10px;
    transition: all 0.5s ease-in-out;
}
.m_btn span:nth-child(3){
    top:20px;
    transition: all 0.5s ease-in-out;
}
header.on .m_btn span:nth-child(1){
    transform: rotate(45deg);
    top: 10px;
}
header.on .m_btn span:nth-child(2){
    transform: translateX(100%);
    opacity: 0;
}
header.on .m_btn span:nth-child(3){
    transform: rotate(-45deg);
    top: 10px;
}