/* 전체영역 영역*/
#fullpage {
  width: 100%;
  height: 100vh;
}

/* intro 영역 */
#fullpage #section1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
/* intro 제목 */
#fullpage #section1 .inner .title h2,
#fullpage #section1 .inner .title h1 {
  color: #fff;
  font-size: 128px;
  font-weight: bold;
  line-height: 115.2px;
  text-align: left;
  position: absolute;
  left: 60px;
  top: 260px;
  z-index: 100;
}
#fullpage #section1 .inner .title h1 {
  top: 30px;
}
/* 제목 그라디언트 스타일 */
#fullpage #section1 .inner .title h1 span.deco {
  background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
}
#fullpage #section1 .inner .title h2 span {
  background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  /* 텍스트 내부를 투명하게 만들어 배경이 보이도록 함 */
  -webkit-text-fill-color: transparent;
}
/* intro 이미지 */
#fullpage #section1 .inner .imgbox {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#fullpage #section1 .imgbox img {
  width: 100%;
  height: 100%;
}
#fullpage #section1 .inner{
  position: relative;
}
/* 아래로 유도하는 버튼 */
#fullpage #section1 .inner .scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  cursor: pointer;
  animation: scroll_ani 0.5s ease-in-out infinite;
}
@keyframes scroll_ani {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 80px;
  }
  100% {
    bottom: 50px;
  }
}
/* About 영역 */
#fullpage #section2 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 50px;
}
/* About 제목 */
#fullpage #section2 .inner h1.deco {
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
/* About 프로필 전체 컨텐츠 */
#fullpage #section2 .inner .profile_group{
  width: 600px;
  height: 600px;
  padding: 0 190px;
  /* border: 1px solid red; */
}
/* About 프로필 전체 컨텐츠 */
#fullpage #section2 .inner .aboutme{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
/* aboutme 세로 경계선 삽입 */
/* #fullpage #section2 .inner .aboutme::after{
    content: "";
    width: 1px;
    height: 700px;
    background: #fff;
    position: absolute;
    left: 18%;
    top: -7%;
} */

/* About 프로필이미지 */
#fullpage #section2 .inner .imgbox{
    width: 230px;
    height: 300px;
}
#fullpage #section2 .inner .imgbox img{
    width: 100%;
    height: 100%;   
}
/* About 프로필 아래정보 */
#fullpage #section2 .inner ul.profile{
    width: 230px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 10.6%;
    top: 75%;
    transform: translateY(-50%);
    /* border: 1px solid red; */
}
#fullpage #section2 .inner ul.profile li{
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
#fullpage #section2 .inner ul.profile li:first-child{
    font-family: "Playfair Display", serif;
    font-size: 24px;
}
/* About 프로필 가운데정보 */
#fullpage #section2 .inner ul.info{
    width: 600px;
    height: 600px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    position: relative;
    /* border: 1px solid yellow; */
}
#fullpage #section2 .inner ul.info li{
    margin-bottom: 58px;
}
#fullpage #section2 .inner ul.info li h3.deco,
#fullpage #section2 .inner ul.license li h3.deco{
    color: #2575fc;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}
#fullpage #section2 .inner ul.info li div.row,
#fullpage #section2 .inner ul.license li div.row{
    display: flex;
    gap: 20px;
}
#fullpage #section2 .inner ul.info div.row span.deco,
#fullpage #section2 .inner ul.license li span.deco{
    color: #fff;
}
#fullpage #section2 .inner ul.info li p,
#fullpage #section2 .inner ul.license li p{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
/* Education 세로 경계선 삽입 */
#fullpage #section2 .inner ul.info::after{
    content: "";
    width: 1px;
    height: 700px;
    background: #fff;
    position: absolute;
    left: -6%;
    top: 51.5%;
    transform: translate(-50%,-50%);
}

/* About 프로필 오른쪽정보 + 공통부분은 가운데정보와 함께*/
#fullpage #section2 .inner ul.license{
    width: 600px;
    height: 600px;
    position: relative;
    /* border: 1px solid greenyellow; */
}

/* License 세로 경계선 삽입 */
#fullpage #section2 .inner ul.license::after{
    content: "";
    width: 1px;
    height: 700px;
    background: #fff;
    position: absolute;
    left: -6%;
    top: 51.5%;
    transform: translate(-50%,-50%);
}

/* Skill 영역 */
#fullpage #section3 {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}
#fullpage #section3 .inner h1.deco {
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
#fullpage #section3 .inner .skilllist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
}
#fullpage #section3 .inner .skilllist ul.skillwrap{
    flex-direction: column;
}
#fullpage #section3 .inner .skilllist .circle{
    width: 160px;
    height: 160px;
}
#fullpage #section3 .inner .skilllist .circle svg{
    width: 100%;
    height: 100%;
}
#fullpage #section3 .inner .skilllist p{
    color: #fff;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
#fullpage #section3 .inner .txtbox{
    width: 100%;
    margin-top: 150px;
}
#fullpage #section3 .inner .txtbox h3.slogan{
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}
#fullpage #section3 .inner .txtbox h3.slogan span{
    color: #2575fc;
}
/* slick dots 전체 스타일 */
#fullpage #section4 .inner ul.slick-dots {
  width: 450px;
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
  margin: auto;
}

/* 비활성 dot */
#fullpage #section4 .inner ul.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #888; /* 회색 */
  text-indent: -99999px;
}

/* 활성 dot */
#fullpage #section4 .inner ul.slick-dots li.slick-active button {
  background: #fff !important; /* 흰색 */
  opacity: 1 !important;
}

/* 디자인 work 영역 & 코딩 work 영역 스타일 동일 */ 
#fullpage #section4,
#fullpage #section5{
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}
#fullpage #section4 .inner h1.deco,
#fullpage #section5 .inner h1.deco{
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
#fullpage #section4 .inner ul.projectlist_slider,
#fullpage #section5 .inner ul.projectlist{
    width: 100%;
    height: 290px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
#fullpage #section4 .inner ul.projectlist_slider{
  margin-top: 150px;
}
#fullpage #section4 .inner ul.projectlist_slider li,
#fullpage #section5 .inner ul.projectlist li{
    width: 450px;
    height: 100%;
    position: relative;
}
#fullpage #section4 .inner ul.projectlist_slider li:hover a,
#fullpage #section5 .inner ul.projectlist li:hover a{
  background: #2575fc;
}
#fullpage #section4 .inner ul.projectlist_slider li a,
#fullpage #section5 .inner ul.projectlist li a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
#fullpage #section4 .inner ul.projectlist_slider li a img,
#fullpage #section5 .inner ul.projectlist li a img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
}
/* 디자인 Works만 별도 스타일 */
#fullpage #section4 .inner ul.projectlist_slider li a{
  width: 100%;
  height: 100%;
}
#fullpage #section4 .inner ul.projectlist_slider li a img{
  width: 100%;
  height: 410px;
  margin: 0 auto;
}
/* 작품 제목 */
#fullpage #section4 .inner ul.projectlist_slider li a p,
#fullpage #section5 .inner ul.projectlist li a p{
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* 갤러리 높낮이 다르게 설정 */
/* #fullpage #section4 .inner ul.projectlist li:nth-child(1),
#fullpage #section4 .inner ul.projectlist li:nth-child(3),
#fullpage #section4 .inner ul.projectlist li:nth-child(4),
#fullpage #section4 .inner ul.projectlist li:nth-child(6){
    margin-top: 25px;
} */
#fullpage #section5 .inner ul.projectlist li:nth-child(2),
#fullpage #section5 .inner ul.projectlist li:nth-child(5){
  margin-top: 25px;
}

/* Contact 영역 */
#fullpage #section6 {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  position: relative;
}
#fullpage #section6 .inner h1.deco {
    background-image: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2575fc 65%,
    #0f172a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
#section6 .inner p.deco{
  color:#fff;
  font-size:24px;
  margin-top: 40px;
}
#section6 .inner .textwrap{
  color: #fff;
}
#section6 .inner p.deco a{
  color:#fff;
}
#section6 .copy{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
/* #section6 .copy .sns{
  display:flex;
  gap:10px;
} */
#section6t .copy ul.sns li a{
  display:block;
  width: 40px;
  height: 40px;
  background: url("https://mirimyeum.github.io/portfolios/images/") no-repeat;
  background-position-x: -40px;
  background-size: 80px 40px;
  text-indent: -99999px;
}
#section6 .copy .sns li a{
  display:block;
  width: 40px;
  height: 40px;
  background: url("https://mirimyeum.github.io/portfolios/images3/instagram.png") no-repeat;
  background-size: 40px 40px;
  text-indent: -99999px;
  object-fit: cover;
}
/* 위로 버튼 */
#section6 .top{
  position: absolute;
  right: 100px;
  bottom: 200px;
  z-index: 999;
}
#section6 .top img{
  width:70px;
}
