/* avandress 전체 */
.avandress{
    width: 100%;
    height: 100%;
    background: #0f172a;
}
/* 내부 컨테이너 */
.avandress .inner{
    width: 1800px;
    height: 100%;
    margin: 0 auto;
    padding: 200px 0;
    /* border: 1px solid red; */
}
/* avandress 큰제목 */
.avandress .inner h1{
    color: #fff;
    text-align: center;
    filter: drop-shadow(0 0 7px rgba(255,255,255,0.5));
}
/* 큰제목 본문 */
.avandress .inner p.body{
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: 50px;
    padding-bottom: 100px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
}
/* avandress작품 갤러리 전체 */
.avandress .inner ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    gap: 20px;
}
/* 컨텐츠 글자 크기 */
.avandress .inner ul li{
    font-size:  16px;
}
/* avandress작품 갤러리 리스트 */
.avandress .inner ul li:first-child,
.avandress .inner ul li:nth-child(3),
.avandress .inner ul li:nth-child(4){
    width: calc(50% - 15px);
    margin-bottom: 20px;
}
/* 이미지 링크 */
.avandress .inner ul li a{
    display: block;
    width: 100%;
}
/* 갤러리 2번째 li 설정 */
.avandress .inner ul li a img{
    width: 100%;
}
.avandress .inner ul li:nth-child(2){
    width: 45%;
    position: relative;
}
/* 갤러리 5번째 li 설정 */
.avandress .inner ul li:nth-child(5){
    width: 49%;
    position: relative;
    border-right: 1px solid #fff;
}
/* 갤러리 6번째 li 설정 */
.avandress .inner ul li:nth-child(6){
    width: 49%;
    position: relative;
}
.avandress .inner ul li:nth-child(6) a{
    color: #2575fc;
    font-size: 24px;
    margin-bottom: 20px;
}
.avandress .inner ul li:nth-child(6) img{
    width: 100%;
}
/* 갤러리 2번째 li 세로선 ::after */
.avandress .inner ul li.second::after{
    content: "";
    width: 1px;
    height: 611px;
    background: #fff;
    position: absolute;
    left: -75px;
    top: -3.4%;
}
/* 갤러리 5번째 li 가로선 ::before */
.avandress .inner ul li:nth-child(5)::before{
    content: "";
    width: 1800px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
}
/* Target Analysis & Final Outcome 제목 */
.avandress .inner ul li:nth-child(2) h2.target,
.avandress .inner ul li:nth-child(5) h2.final{
    color: #2575fc;
    margin-bottom: 20px;
}
/* Target Analysis & Final Out come리스트 */
.avandress .inner ul li:nth-child(2) ul.target_list,
.avandress .inner ul li:nth-child(5) ul.final_list,
.avandress .inner ul li:nth-child(5) ul.tool_list{
    color: #fff;
    display: block;
    margin-bottom: 50px;
}
.avandress .inner ul.target_list li,
.avandress .inner ul.final_list li,
.avandress .inner ul.tool_list li{
    width: 100%;
    list-style-type: disc;
    padding-top: 20px;
    line-height: 24px;
}
.avandress .inner ul.target_list li:first-child,
.avandress .inner ul.final_list li:first-child{
    padding-top: 0;
}
/* Concept 제목 */
.avandress .inner ul li:nth-child(2) h2.concept,
.avandress .inner ul li:nth-child(5) h2.used{
    color: #2575fc;
    margin: 30px 0;
    padding-top: 30px;
    width: 100%;
    border-top: 1px solid #fff;
}
/* Concept 본문 */
.avandress .inner ul li:nth-child(2) p{
    color: #fff;    
    line-height: 24px;
}
.avandress .inner ul li:nth-child(2) ul.concept_list li{
    color: #fff;    
    line-height: 24px;
    text-align: justify;
    list-style: disc;
    width: 100%;
}
.avandress .inner ul li:nth-child(2) ul.concept_list li:first-child{
    list-style: none;
}
/* 맨위로 버튼 */
.avandress .inner .top{
    position: absolute;
    right: 215px;
    bottom: -2600px;
  }
.avandress .inner .top img{
    width:70px;
  }